<h1>▶️ Me connecter</h1>

  <%= form_tag '/login' do %>
   <%= label_tag :username, 'Pseudo'%>
   <%= text_field_tag :username%>
   <%= label_tag :password, 'Mot de passe'%>
   <%= password_field_tag :password%>

   <%= submit_tag "Login"%>
  <%end%>

<div class="links">
  <%= link_to "◀️ Retour à l'accueil", welcome_path %>
</div>
